body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.you{
    color: blueviolet;
}
h1{
    font-size: 40px;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.help{
    width: 50%;
    padding-left: 5%;
}
.help img{
    width: 90%;
}
.help1{
    text-decoration: none;
    padding: 8px 30px;
    background-image: linear-gradient(purple,Tomato);
    color: white;
    border-radius: 5px;
    font-weight: bold;
}
.jhalmuri{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 150px;
}
.help2{
    text-decoration: none;
    padding: 8px 30px;
    background-image: linear-gradient(white,purple);
    color: black;
    border-radius: 5px;
    font-weight: 900; 
}
.chanachur{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience{
    box-shadow: 20px 20px 50px gray;
    width: 45%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 50px;
    border-radius: 5px;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full{
    border-left: 7px solid;
    border-image: linear-gradient(purple,black);
    border-image-slice: 1;
}
#half{
    border-left: 7px solid;
    border-image: linear-gradient(Tomato,orange);
    border-image-slice: 1;
}
footer{
    text-align: center;
}